.about {
	padding: 5rem 0;
	max-width: 800px;
}

.title {
	margin-bottom: 1rem;
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: Mirza, sans-serif;
    line-height: 0.9em;
    text-transform: capitalize;
    color: #9f9f9f;
}

.Textp {
    font-size: 1.6rem;
    color: #717171;
    font-family: Poppins, sans-serif;
}